html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
    background-color: rgb(29, 30, 48);
    
}
.container {
    display: grid;
    grid-template-rows: 250px 380px 40px 40px 40px 40px 40px 40px 40px ;
    grid-template-columns: 30% 40% 30%; 
   
}
.item-1 { /*hund gif*/
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
}
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgb(34, 38, 83));
}
.item-3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.item-3 h1 {
    color: rgb(254, 254, 254);
    text-align: center;
    padding: 10px;
    margin: 40px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 6px 2px 5px rgb(34, 31, 47); 
}
.item-3 p {
    color: rgb(254, 254, 254);
    text-align: center;
    padding: 10px;
    margin: 30px;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 6px 2px 5px rgb(34, 31, 47); 

}

.buttons {
    font-style: bold;
    text-align: center;
    background-color: #3497e3; 
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.181);
    text-shadow: 1px;
    color: #ffffff; 
    border-radius: 5px; 
    font-size: 16px; 
    font-weight: bold; 
    width: 300px;
    height: 30px;
    align-self: center;
    z-index: 1;
    justify-self: center;
}

#button1 { /*sød kartoffel*/
    grid-column: 1 / 2;
    grid-row: 3 /4; 
    justify-self: end;
}
#button2 { /*natsværmer*/
    grid-column: 2 / 3;
    grid-row: 3 /4;
}
#button3 { /*kål*/
    grid-column: 2 / 3;
    grid-row: 8 / 9;
}
#button4 { /*ananas*/
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    justify-self: start;
}
#button5 { /*honning*/
    grid-column: 1 / 2;
    grid-row: 9 / 10;
    justify-self: end;
}
#button6 { /*chokolade*/
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}
#button7 { /*vindruer*/
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    justify-self: start;
}
#button8 { /*avocado*/
    grid-column: 3 / 4;
    grid-row: 8 / 9;
}

#button9 { /*puppuccino*/
    grid-column: 3 / 4;
    grid-row: 10 / 11;
    justify-self: start;
}
#button10 { /*flødeboller*/
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    justify-self: end;
}

.dogPoop {
    opacity: 0;
    border-radius: 10px;
}

.dogpoopgrid {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
}

.dogSmile {
    opacity: 0;
    border-radius: 10px;
}

.dogsmilegrid {
    grid-column: 1/ 2;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
}